/* For overview graph */
.js-highlight-y-axis .js-highlight-x-axis .activity-overview-axis {
  fill: red !important;
}
.js-highlight-y-axis.activity-overview-axis {
  color:red !important;
  border-color:red !important;
  background-color: red !important;;
  fill: red !important;;
}
